.change-password-page
  .change-left
    .branding
      h1.logo Babble.
      
    .change-form
      h2 Change password
      p.change-text Enter your new password below to reset your account password.
      
      .change-success(ng-if='passwordChanged')
        i.fa.fa-check-circle
        p.success-message Your password has been successfully changed. You can now login with your new password.
        
        button.btn.btn-primary.login-btn(type='button', ng-click='goToLogin()') Go to Login
        
      form(ng-submit='changePassword()', ng-if='!passwordChanged', name="changePasswordForm")
        .password-field
          input(type='password', 
                name="password",
                ng-model='passwordData.password',
                ng-change='checkPasswordStrength()',
                placeholder='New Password',
                required)
                
          // Password strength indicator
          .password-strength(ng-if='passwordData.password')
            .strength-meter
              .strength-meter-fill(ng-class="{'weak': passwordStrength === 'weak', 'medium': passwordStrength === 'medium', 'strong': passwordStrength === 'strong'}")
            .strength-text(ng-if="passwordStrength === 'weak'") Weak password
            .strength-text(ng-if="passwordStrength === 'medium'") Medium password
            .strength-text(ng-if="passwordStrength === 'strong'") Strong password
            
          // Password requirements
          ul.password-requirements(ng-if='passwordData.password')
            li(ng-class="{'met': hasMinLength}") At least 8 characters long
            li(ng-class="{'met': hasUppercase}") Contains uppercase letter
            li(ng-class="{'met': hasLowercase}") Contains lowercase letter
            li(ng-class="{'met': hasNumber}") Contains number
            li(ng-class="{'met': hasSpecial}") Contains special character
                
        .password-field
          input(type='password', 
                name="confirmPassword",
                ng-model='passwordData.confirmPassword',
                ng-change='checkPasswordMatch()',
                placeholder='Confirm Password',
                required)
                
          // Password mismatch message
          .password-mismatch(ng-if='passwordData.confirmPassword && !passwordsMatch')
            i.fa.fa-exclamation-triangle
            span Passwords do not match
            
          // Password match message
          .password-match(ng-if='passwordData.confirmPassword && passwordsMatch')
            i.fa.fa-check-circle
            span Passwords match
        
        p.password-error.bg-danger(ng-if='passwordError')
          i.fa.fa-exclamation
          span  {{ passwordErrorMessage }}
        
        button.btn.btn-primary.change-btn(type='submit', ng-disabled='!passwordsMatch || passwordStrength === "weak"') Change Password
        
      .login-link(ng-if='!passwordChanged')
        a(href='/login') Back to Login
  
  .change-right
    .feature-preview
      img.dashboard-preview(src='/img/login-preview.png', alt='Dashboard Preview')
    
    .feature-text
      h2 Manage multiple lines easily
      p Start monitoring and controlling your machines easily.
      
      .indicators
        span.indicator.active
        span.indicator
        span.indicator
    
    .copyright
      p 2020 Babble. All right reserved